body {
   margin: 0;
    font-family:'Poppins', sans-serif;
    height: 100vh;
    width:100vw; 
    background-color: #1F2937;

} 
/* :root,
.light-theme{
 --bg-color: #ECFDF5;
 --pass-box:#273549;
 --title:#2B283A;   
}
.dark-theme{
 --bg-color: #1F2937;
 --pass-box:#273549;
 --title:#ffffff;   
} */

.main-container{
    margin: auto;
    width: 85vw;
    padding: 10px;
    padding-top:9rem; 
    }
h1 {
    color: white;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    letter-spacing: -0.025em;
    }
span{
    color:#4ADF86;
    }
h3{

font-weight: 400;
font-size: 1rem;
line-height: 2rem;
color: #D5D4D8;
margin-bottom: 3rem;
}
.gen-btn{
    width: 35vw;
    height: 2.5em;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0;
}
.length-el{
    height: 2.5em;
    width: 7rem;
    border-radius: 6px;
    border: none;
    margin-left:1.5rem;
    text-align: center;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:2.5rem; 
}
.line{
    height: 1px;
    width: 85vw;
    background: #2F3E53;
    margin-bottom: 2rem;
}

.pass-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    height: 1em;
    }

.pass-box{
    
width: 48%;
height: 2.5em;
background: #273549;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
color: #55F991;
padding: 2px;
}
*{
    outline: 1px solid red;
}
.error{
    outline: 1px solid red;
    color: red;
    margin: 0;
    padding: 0;
    border: none;
    margin-left:.5rem;
    font-size: .85rem;
    font-weight:bold; 
}
/* .label {
  width: 50px;
  height: 26px;
  background-color:#111;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transform: scale(1.5);
}
.radio{
    opacity: 0;
}
.theme-select{
    margin-left: 300px
}
.theme-label{
    color: white
} */
